<H3 style="margin-left:10px;">
 Introduction
</H3>
<div class="container-fluid">

    <p>This site, created with pure Angular tecnology, demonstrates the possibilities of using open API of systems for receiving data from remote servers of various companies.</p>
    <p>The <b>first tab</b> in the menu shows the open API of photos:   <b>images.nasa.gov </b> </p>
    <p>
        The images.nasa.gov API is organized around REST. Our API has predictable, resourceoriented
        URLs, and uses HTTP response codes to indicate API errors. 
        We use builtin  HTTP features, like HTTP authentication and HTTP verbs, which are understood by
        offtheshelf HTTP clients. We support crossorigin resource sharing, allowing you to interact securely with our API from a clientside
        web application. JSON is returned by all API responses, including errors.
        Each of the endpoints described below also contains example snippets which use the curl commandline
        tool, Unix pipelines, and  the python commandline  tool to output API responses in an easytoread
        format. We insert superfluous newlines to improve  readability in these inline examples, but to run our examples you must remove these newlines. 
    </p> 
    <p>
        The <b>second tab</b> demonstrates the possibility of connecting to the weather determination service by coordinates , where for convenience a select with a list of more than 2000 cities with known coordinates is connected.
    </p>
    <p>
        The <b>third tab</b> uses API full REST technology to manage a list of clients located on a remote server connected to DB MySQL.
    </p>
    <p>
        The <b>fourth tab</b> demonstrates the ability to upload files to the server and manage the list of uploaded files.
    </p>
</div>

